<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="team, collaboration, tool, group, projekt, gruppen, arbeit, organisation" />
		<meta name="description" content="Online Collaboration Tool zur Organisation von Gruppen- und Projektarbeiten" />
		<title>Online Collaboration Tool </title>
		<!-- IE HTML5 enabling script : http://html5shiv.googlecode.com/svn/trunk/html5.js -->
		<!--[if IE]>
		<script type="text/javascript" src="../js/html5.js"></script>
		<![endif]-->
		<!-- Browser reset styles : http://meyerweb.com/eric/tools/css/reset/ -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.js"> </script>
		<script src="/javascripts/socket.io.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header id="header">
				<hgroup id="header-hgroup">
					<h1 title="Online Collaboration Tool">Online Collaboration Tool</h1>
					<h2 title="zur Organisation von Gruppen- und Projektarbeiten">zur Organisation von Gruppen- und Projektarbeiten</h2>
				</hgroup>
				<nav class="top-navigation">
					<ul>
						<li><a title="Home" href="/">Home</a></li>
						<li><a title="Kalender" href="/kalender">Kalender</a></li>
						<li><a title="Notizen" href="/notizen">Notizen</a></li>
						<li><a title="Linksammlung" href="#">Linksammlung</a></li>
						<li><a title="Dokument" href="#">Dokument</a></li>
						<li><a title="chat" href="#">Chat</a></li>
						<li class="right"><a title="login" href="#">einloggen</a></li>
						<li class="right"><a title="register" href="#">registrieren</a></li>
					</ul>
				</nav>
			</header>
			<div class="clear"></div>
			<div id="content">