<% include header.html %>
	<link rel='stylesheet' href='stylesheets/fullcalendar.css' />
	<script src='/javascripts/fullcalender/lib/jquery.min.js'></script>
	<script src='/javascripts/fullcalender/lib/moment.min.js'></script>
	<script src='/javascripts/fullcalender/fullcalendar.js'></script>
	<script src='/javascripts/fullcalender/lang-all.js'></script>
	<script src='/javascripts/kalender.js'></script>

	<section id="col-2">
		<hgroup>
			<h1>Kalender</h1>
			<h2>mehr Informationen</h2>
		</hgroup>
		
		<div id='calendar'></div>

						
	</section>
<% include footer.html %>